@{
    ViewData["Title"] = "Aukcije BiH - početna";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na Aukcije BiH!</h1>
</div>

<div>
    <a asp-controller="predmeti" asp-action="Index" asp-route-category="Kolekcionarstvo">Kolekcionarstvo</a>
    <a asp-controller="predmeti" asp-action="Index" asp-route-category="Numizmatika">Numizmatika</a>
    <a asp-controller="predmeti" asp-action="Index" asp-route-category="Antikviteti">Antikviteti</a>
</div>