@model IEnumerable<ecom.Models.Product>
@using ecom.Models

@{
    ViewData["Title"] = "Aukcije BiH - početna";
}

<style>
    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.1s;
    }
    .card:hover{
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
    }
    a{
        text-decoration: none;
    }
</style>

<div style="width: 100%; display: flex; justify-content: space-between; height: 80px; padding-top:5px;">
    <a class="pre">❮</a>
    <a class="nex">❯</a>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Kolekcionarstvo.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b>Kolekcionarstvo</b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Numizmatika.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Antikviteti.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Umjetnost.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Knjige-tisak.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Glazba-film.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Audio-video.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Racunala-mobiteli.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Konzole-igrice.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Odjeca-obuca.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Nakit-satovi.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Modni-dodaci.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Ljepota-zdravlje.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Sport-oprema.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Dom-vrt.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Igre-igracke.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Skola-posao.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
    <div style="width: 60px;"><img style="height: 80px; width: 80px; position: relative; object-fit: cover; top: -10px;" src="~/ikone/Ostalo.svg" /><p style="font-size: x-small; position: relative; color: white; top: -25px;"><b></b></p></div>
</div>

<div class="row col-md-10" style="padding-left: 15px;">
    @* <div class="row col-md-12" style="padding: 15px;">
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Kolekcionarstvo">
                <img alt="Kolekcionarstvo" src="~/ikone/Kolekcionarstvo.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Kolekcionarstvo"><b>Kolekcionarstvo</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Numizmatika">
                <img alt="Numizmatika" src="~/ikone/Numizmatika.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Numizmatika"><b>Numizmatika</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Antikviteti">
                <img alt="Antikviteti" src="~/ikone/Antikviteti.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Antikviteti"><b>Antikviteti</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Umjetnost">
                <img alt="Umjetnost" src="~/ikone/Umjetnost.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Umjetnost"><b>Umjetnost</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Knjige-tisak">
                <img alt="Knjige-tisak" src="~/ikone/Knjige-tisak.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Knjige-tisak"><b>Knjige i tisak</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Glazba-film">
                <img alt="Glazba-film" src="~/ikone/Glazba-film.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Glazba-film"><b>Glazba i film</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Audio-video">
                <img alt="Audio-video" src="~/ikone/Audio-video.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Audio-video"><b>Audio i video</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Racunala-mobiteli">
                <img alt="Racunala-mobiteli" src="~/ikone/Racunala-mobiteli.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Racunala-mobiteli"><b>Računala i mobiteli</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Konzole-igrice">
                <img alt="Konzole-igrice" src="~/ikone/Konzole-igrice.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Konzole-igrice"><b>Konzole i igrice</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Odjeca-obuca">
                <img alt="Odjeca-obuca" src="~/ikone/Odjeca-obuca.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Odjeca-obuca"><b>Odjeća i obuća</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Nakit-satovi">
                <img alt="Nakit-satovi" src="~/ikone/Nakit-satovi.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Nakit-satovi"><b>Nakit i satovi</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Modni-dodaci">
                <img alt="Modni-dodaci" src="~/ikone/Modni-dodaci.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Modni-dodaci"><b>Modni dodaci</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Ljepota-zdravlje">
                <img alt="Ljepota-zdravlje" src="~/ikone/Ljepota-zdravlje.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Ljepota-zdravlje"><b>Ljepota i zdravlje</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Sport-oprema">
                <img alt="Sport-oprema" src="~/ikone/Sport-oprema.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Sport-oprema"><b>Sport i oprema</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Dom-vrt">
                <img alt="Dom-vrt" src="~/ikone/Dom-vrt.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Dom-vrt"><b>Dom i vrt</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Igre-igracke">
                <img alt="Igre-igracke" src="~/ikone/Igre-igracke.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Igre-igracke"><b>Igre i igračke</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Skola-posao">
                <img alt="Skola-posao" src="~/ikone/Skola-posao.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Skola-posao"><b>Škola i posao</b></a>
        </div>
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex; background-color: aliceblue;">
            <a asp-controller="Products" asp-action="Index" asp-route-category="Ostalo">
                <img alt="Ostalo" src="~/ikone/Ostalo.svg" style="width: 100%; height: 100px; margin-top: 15px; object-fit: cover;" />
            </a>
            <a asp-controller="Products" style="width: 100%; text-align:center; 
            padding-top: 15px; height: 45px; color: black; object-fit: cover; object-position: 50% 10%;" asp-action="Index" 
            asp-route-category="Ostalo"><b>Ostalo</b></a>
        </div>
        
    </div> *@
    @foreach(var item in Model) //limit number
    {
        <div class="card col-md-5" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex;">
            <a asp-controller="Products" style="width: 100%; height: 60px; object-fit: cover; object-position: 50% 10%;" asp-action="Details" asp-route-id="@item.ProdGuid">@item.Name</a>
        </div>
    }
</div>